#WX:node_modules
#XQ:package.json
#WQ:package-lock.json
#VB:autosave/
#QZ:build/
#YW:pack_map
#HZ:#*
#VS:*~

# Ignore markdown files except these
*.md
!AGENTS.md
!README.md
!LICENSE.md

# macOS
.DS_Store
**/.DS_Store
